<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e8f62">  <td>21/04/14 14:13:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryTesting.test1()[pri:0, instance:com.qa.testcases.RetryTesting@25bbe1b6]">test1</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>21/04/14 14:13:37</td>   <td>5242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryTesting.test1()[pri:0, instance:com.qa.testcases.RetryTesting@25bbe1b6]">test1</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>21/04/14 14:13:39</td>   <td>7493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryTesting.test1()[pri:0, instance:com.qa.testcases.RetryTesting@25bbe1b6]">test1</td> 
  <td>main@660143728</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>21/04/14 14:13:42</td>   <td>10291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryTesting.test1()[pri:0, instance:com.qa.testcases.RetryTesting@25bbe1b6]">test1</td> 
  <td>main@660143728</td>   <td></td> </tr>
</table>
