<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fa893">  <td>21/04/16 15:17:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RetryTesting.after_Method(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.RetryTesting@192b07fd]">&lt;&lt;after_Method</td> 
<td>&nbsp;</td>  <td>main@1997963191</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>21/04/16 15:17:23</td>   <td>4770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RetryTesting.after_Method(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.RetryTesting@192b07fd]">&lt;&lt;after_Method</td> 
<td>&nbsp;</td>  <td>main@1997963191</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>21/04/16 15:17:28</td>   <td>9417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RetryTesting.after_Method(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.RetryTesting@192b07fd]">&lt;&lt;after_Method</td> 
<td>&nbsp;</td>  <td>main@1997963191</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>21/04/16 15:17:35</td>   <td>17083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;RetryTesting.after_Method(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.RetryTesting@192b07fd]">&lt;&lt;after_Method</td> 
<td>&nbsp;</td>  <td>main@1997963191</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>21/04/16 15:17:12</td>   <td>-6323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryTesting.test1()[pri:0, instance:com.qa.testcases.RetryTesting@192b07fd]">test1</td> 
  <td>main@1997963191</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>21/04/16 15:17:18</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryTesting.test1()[pri:0, instance:com.qa.testcases.RetryTesting@192b07fd]">test1</td> 
  <td>main@1997963191</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>21/04/16 15:17:23</td>   <td>4770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryTesting.test1()[pri:0, instance:com.qa.testcases.RetryTesting@192b07fd]">test1</td> 
  <td>main@1997963191</td>   <td></td> </tr>
<tr bgcolor="7fa893">  <td>21/04/16 15:17:28</td>   <td>9417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RetryTesting.test1()[pri:0, instance:com.qa.testcases.RetryTesting@192b07fd]">test1</td> 
  <td>main@1997963191</td>   <td></td> </tr>
</table>
